<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bianpao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,391}</string>
                <key>spriteSourceSize</key>
                <string>{140,391}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bianpao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,391}</string>
                <key>spriteSourceSize</key>
                <string>{140,391}</string>
                <key>textureRect</key>
                <string>{{0,391},{140,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bianpao3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,391}</string>
                <key>spriteSourceSize</key>
                <string>{140,391}</string>
                <key>textureRect</key>
                <string>{{0,782},{140,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bianpao4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,391}</string>
                <key>spriteSourceSize</key>
                <string>{140,391}</string>
                <key>textureRect</key>
                <string>{{0,1173},{140,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bianpao.png</string>
            <key>size</key>
            <string>{140,1564}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16c0266956c39b8292e271523e3e8080:204e7b7214259272c178e72424f25429:12e7a9a4647d9aaa08154358ede34ca4$</string>
            <key>textureFileName</key>
            <string>bianpao.png</string>
        </dict>
    </dict>
</plist>
